   <nav>
        <div class="site-title">
           <a href="/"> logo site</a>
        </div>
        <ul>
            <li><a href="/">blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">new Blog</a></li>
        </ul>
   </nav>