<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
    </nav>
      <h1>about</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere dolorem consequuntur mollitia! Accusamus eum neque magni, iure, fuga totam quos ratione minima harum voluptas eligendi corrupti aspernatur facilis unde?</p>
</body>
</html>