<!DOCTYPE html>
<html lang="en">
    <%-  include("./partials/head.ejs") %>
<body>
    <%-  include("./partials/nav.ejs") %>


   <div class="blogs content">
    <h2>about us </h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat alias porro nostrum harum deserunt eveniet corrupti quam vel error, doloremque sit eum impedit enim blanditiis modi velit dolorum. Voluptatibus, sit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae odit ullam dolorum explicabo error at ut suscipit. Iure, rerum est. Natus consectetur qui, consequatur dolorem fugit porro. Accusantium, impedit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ratione recusandae ea autem voluptatem doloremque enim quis, aut alias id unde nemo consequatur rerum nam officiis quisquam corrupti cupiditate eveniet.</p>

</div>
<%-  include("./partials/footer.ejs") %>
</body>
</html>